<header class="header">
  <nav class="navbar">
    <div class="nav-container">

      <div class="nav-logos-left">
        <a href="/pages/homepage.html" class="logo">
          <img src="/assets/aihouse_logo.svg" alt="AI House Logo" class="logo-header" loading="lazy">
        </a>
        <img src="/assets/uhbc_logo.svg" alt="UHBC Logo" class="logo-uhbc-mobile" loading="lazy">
      </div>

      <div class="nav-mobile-links">

  <a href="/pages/homepage.html">
    <img src="https://img.icons8.com/sf-black/64/home.png" alt="Home">
    <span>Home</span>
  </a>

  <a href="/pages/about.html">
    <img src="https://img.icons8.com/sf-regular/48/info.png" alt="About">
    <span>About</span>
  </a>

  <a href="/pages/projects.html">
    <img src="https://img.icons8.com/sf-regular/48/test-passed.png" alt="Projects">
    <span>Projects</span>
  </a>

  <a href="/pages/events.html">
    <img src="https://img.icons8.com/sf-regular/48/today.png" alt="Events">
    <span>Events</span>
  </a>

  <a href="/pages/contact.html">
    <img src="https://img.icons8.com/sf-regular/48/contact-card.png" alt="Contact">
    <span>Contact</span>
  </a>

</div>

      <ul class="nav-links">
        <li><a href="/pages/homepage.html">Home</a></li>
        <li><a href="/pages/about.html">About us</a></li>
        <li><a href="/pages/projects.html">Projects</a></li>
        <li><a href="/pages/events.html">Events</a></li>
        <li><a href="/pages/contact.html">Contact</a></li>
      </ul>

      <div id="header-actions"></div>

    </div>
  </nav>
</header>
